<html>
    <head>
        <style>
            body {
                background: lightblue;
            }
        </style>
    </head>
    <body>
        <p>
            <form method="POST" action='/tictactoe'>
                <input type="text" name='guess' />
                <input type='submit' value='Guess!' />
            </form>
        </p>
        <p> <%= colors %></p>

    </body>
</html>
